<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="menu">
        <button class="menu-item" onclick="loadPage('main')">Main</button>
        <button class="menu-item" onclick="loadPage('upload')">Upload</button>
    </div>
    <div id="content">
        <!-- Content will be loaded here -->
    </div>

    <script>
        function loadPage(pageUrl) {
            fetch(pageUrl)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('content').innerHTML = data;
                })
                .catch(error => console.error('Ошибка загрузки страницы:', error));
        }

        window.onload = function() {
            loadPage('main');
        };
    </script>
</body>
</html>