<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="menu">
        <button onclick="loadPage('page1')">Page 1</button>
        <button onclick="loadPage('page2')">Page 2</button>
    </div>
    <div id="content">
        <!-- Содержимое страницы будет загружаться сюда -->
    </div>

    <script>
        function loadPage(pageUrl) {
            fetch(pageUrl)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('content').innerHTML = data;
                })
                .catch(error => console.error('Ошибка загрузки страницы:', error));
        }

        // Загрузка страницы по умолчанию при загрузке страницы
        window.onload = function() {
            loadPage('page1');
    };
    </script>
</body>
</html>