<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>PicBrowser</title>
    <link type="image/png" sizes="96x96" rel="icon" href="static/logo.png">
</head>
<body>
    <div class="menu">
        <button class="menu-item" onclick="loadPage('main')">Редактор</button>
        <button class="menu-item" onclick="loadPage('upload')">Загрузить фото</button>
        <div class="export-div">
            <div class="export-text">
                    <div style="margin-left: 3px;">Экспортировать фото</div>
                    <br>
                    <input type="checkbox" id="filter-checkbox" checked>
                    <label for="filter-checkbox" style="font-size: 80%;">Сохранить порядок</label>
            </div>
            <button class="default-btn export-btn" >Экспорт ZIP</button>
        </div>
        <button class="menu-item delete-all-btn" onclick="">Удалить всё</button>
    </div>
    <div id="content">
        <iframe id="contentFrame" style="width:100%; height:100vh; border:none;"></iframe>
    </div>

    <script>
        function loadPage(pageUrl) {
            var iframe = document.getElementById('contentFrame');
            iframe.src = pageUrl;
        }

        window.onload = function() {
            loadPage('main');
        };


        document.addEventListener("DOMContentLoaded", function() {
            const exportButton = document.querySelector('.export-btn');
            const preserveOrderCheckbox = document.getElementById('filter-checkbox');
            
            exportButton.addEventListener('click', function() {
                const preserveOrder = preserveOrderCheckbox.checked;
                window.location.href = `/export_zip?preserve_order=${preserveOrder}`;
            });
        });
        
        document.addEventListener("DOMContentLoaded", function() {
            const deleteAllButton = document.querySelector('.delete-all-btn');
            deleteAllButton.addEventListener('click', function() {
                if (confirm('Вы уверены, что хотите удалить все файлы?\nЭто действие необратимо!')) {
                    fetch('/delete_all_files', { method: 'DELETE' })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                alert('Все файлы удалены.');
                                window.location.reload();
                            } else {
                                alert('Ошибка при удалении файлов.');
                            }
                        })
                        .catch(error => console.error('Error:', error));
                }
            });
        });
    </script>
</body>
</html>