<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js"></script>
</head>

<div class="sidebar">
    <div class="thumbnail-container">
        {% for image in images %}
            <div class="thumbnail"><img src="{{ url_for('uploaded_file', filename=image) }}"></div>
        {% endfor %}
    </div>
</div>
<div class="main-content">
    <div class="image-viewer">
        <div class="image-viewer-inside">
            <img src="{{ url_for('uploaded_file', filename=images[0]) if images else 'static/placeholder.png' }}" alt="Main Image">
        </div>
    </div>
    <div class="image-details">
        <p style="margin-left: 20px;">Image Info</p>
    </div>
</div>


