<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style_for_upload.css">
    <script src="static/script_for_upload.js"></script>
</head>
<div class="upload-container">
    <div class="drag-drop-area" id="drag-drop-area">
        Перетащите ваши фотографии сюда 
        <span class="clickable"></span>
        <input type="file" id="file-input" multiple style="display: none;" onchange="handleFiles(this.files)">
    </div>
    <div class="button-container">
        <button class="upload-button" onclick="uploadFolder()">Загрузить папку</button>
        <button class="upload-button" onclick="uploadZip()">Загрузить ZIP</button>
    </div>
</div>